.nodes-cloud.container-box.mt10
  h4.title
    i.icon-comments
    |  常见节点导航
  ul
    each plane in planes
      li
        label(for='')= plane.name
        span.nodes
          each node in plane.nodes 
            a(href='/nodes/#{node.key}')= node.name
