extends layout

block content
  .container-fluid.container.mt15
      .row-fluid
        .span9.left
          .topics.container-box.deprecated-mt10
            .topic-item
              a(href='/u/guokai')
                img.avatar(src='http://f2e.im/static/avatar/m_b04965e6-a9bb-591f-8f8a-1adcb2c8dc39.png', alt='')
              .main
                h3.title
                  a(href='/t/162#reply3') 自己打造智能路由
                .meta
                  span.node
                    a(href='/node/share') 分享
                  | •
                  span.username
                    a(href='/u/guokai') guokai
                  | •
                  span.last-touched 7 小时前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/guokai')
                      strong guokai
              .count
                a(href='/t/162#reply3') 3
            .topic-item
              a(href='/u/grapher')
                img.avatar(src='http://f2e.im/static/avatar/m_f9e8a3d8-1a39-5d39-98c4-238ff44027bc.png', alt='')
              .main
                h3.title
                  a(href='/t/167#reply0') F2E为什么用python-memcached不用Redis呢？
                .meta
                  span.node
                    a(href='/node/question') 问与答
                  | •
                  span.username
                    a(href='/u/grapher') grapher
                  | •
                  span.last-touched 昨天
            .topic-item
              a(href='/u/hzlzh')
                img.avatar(src='http://f2e.im/static/avatar/m_de1c2056-b2b1-5c81-a2e1-b9522b386fc4.png', alt='')
              .main
                h3.title
                  a(href='/t/128#reply2') [深圳][腾讯]招~移动终端前端开发，快来吧小伙伴们
                .meta
                  span.node
                    a(href='/node/jobs') 招聘
                  | •
                  span.username
                    a(href='/u/hzlzh') hzlzh
                  | •
                  span.last-touched 3 天前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/LokiSharp')
                      strong LokiSharp
              .count
                a(href='/t/128#reply2') 2
            .topic-item
              a(href='/u/similar')
                img.avatar(src='http://f2e.im/static/avatar/m_default.png', alt='')
              .main
                h3.title
                  a(href='/t/158#reply1') 威望是怎么算的？
                .meta
                  span.node
                    a(href='/node/help') 帮助
                  | •
                  span.username
                    a(href='/u/similar') similar
                  | •
                  span.last-touched 4 天前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/guokai')
                      strong guokai
              .count
                a(href='/t/158#reply1') 1
            .topic-item
              a(href='/u/grapher')
                img.avatar(src='http://f2e.im/static/avatar/m_f9e8a3d8-1a39-5d39-98c4-238ff44027bc.png', alt='')
              .main
                h3.title
                  a(href='/t/156#reply3') F2E的markdown支持上传本地图片么？
                .meta
                  span.node
                    a(href='/node/question') 问与答
                  | •
                  span.username
                    a(href='/u/grapher') grapher
                  | •
                  span.last-touched 5 天前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/guokai')
                      strong guokai
              .count
                a(href='/t/156#reply3') 3
            .topic-item
              a(href='/u/shou65')
                img.avatar(src='http://f2e.im/static/avatar/m_63a2ae28-70cf-5c0a-b762-50d483a5104c.png', alt='')
              .main
                h3.title
                  a(href='/t/154#reply0') [杭州] 旅行新体验，创业邀约~
                .meta
                  span.node
                    a(href='/node/jobs') 招聘
                  | •
                  span.username
                    a(href='/u/shou65') shou65
                  | •
                  span.last-touched 5 天前
            .topic-item
              a(href='/u/toctan')
                img.avatar(src='http://f2e.im/static/avatar/m_default.png', alt='')
              .main
                h3.title
                  a(href='/t/153#reply0') codeschool 48小时全部课程免费体验
                .meta
                  span.node
                    a(href='/node/share') 分享
                  | •
                  span.username
                    a(href='/u/toctan') toctan
                  | •
                  span.last-touched 6 天前
            .topic-item
              a(href='/u/colin21')
                img.avatar(src='http://f2e.im/static/avatar/m_ed2380ba-2b20-5f66-92bc-42fa7f45b5bd.png', alt='')
              .main
                h3.title
                  a(href='/t/143#reply7') 发现F2E在chrome下效果最好
                .meta
                  span.node
                    a(href='/node/share') 分享
                  | •
                  span.username
                    a(href='/u/colin21') colin21
                  | •
                  span.last-touched 6 天前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/grapher')
                      strong grapher
              .count
                a(href='/t/143#reply7') 7
            .topic-item
              a(href='/u/ucweb')
                img.avatar(src='http://f2e.im/static/avatar/m_default.png', alt='')
              .main
                h3.title
                  a(href='/t/145#reply6') UC优视招聘----WEB前端工程师
                .meta
                  span.node
                    a(href='/node/jobs') 招聘
                  | •
                  span.username
                    a(href='/u/ucweb') ucweb
                  | •
                  span.last-touched 6 天前
                  | •
                  span.last-reply-username
                    | 最后回复来自
                    a(href='/u/ucweb')
                      strong ucweb
              .count
                a(href='/t/145#reply6') 6
            .topic-item
              a(href='/u/grapher')
                img.avatar(src='http://f2e.im/static/avatar/m_f9e8a3d8-1a39-5d39-98c4-238ff44027bc.png', alt='')
              .main
                h3.title
                  a(href='/t/152#reply0') 开源改变世界
                .meta
                  span.node
                    a(href='/node/share') 分享
                  | •
                  span.username
                    a(href='/u/grapher') grapher
                  | •
                  span.last-touched 6 天前
            .topic-item
              a(href='/u/ucweb')
                img.avatar(src='http://f2e.im/static/avatar/m_default.png', alt='')
              .main
                h3.title
                  a(href='/t/146#reply0') UC优视招聘----高级WEB前端工程师
                .meta
                  span.node
                    a(href='/node/jobs') 招聘
                  | •
                  span.username
                    a(href='/u/ucweb') ucweb
                  | •
                  span.last-touched 1 周前
            .pagination
              ul
                li.disabled
                  a(href='/?p=1') «
                li.active
                  a(href='javascript:;') 1
                li
                  a(href='/?p=2') 2
                li
                  a(href='/?p=3') 3
                li
                  a(href='/?p=4') 4
                li
                  a(href='/?p=5') 5
                li
                  a(href='/?p=2') »
          .nodes-cloud.container-box.mt10
            h4.title
              span.octicon.octicon-globe
              | 常见节点导航
            ul
              li
                label(for='') 语言
                span.nodes
                  a(href='/node/html') HTML
                  a(href='/node/css') CSS
                  a(href='/node/javascript') JavaScript
                  a(href='/node/nodejs') NodeJS
                  a(href='/node/ruby') Ruby
                  a(href='/node/pyhton') Python
                  a(href='/node/php') PHP
              li
                label(for='') 分享
                span.nodes
                  a(href='/node/opensource') 开源项目
                  a(href='/node/algorithm') 算法
                  a(href='/node/math') 数学
                  a(href='/node/compatibility') 兼容性
                  a(href='/node/mobile') Mobile
                  a(href='/node/books') 书籍
                  a(href='/node/jobs') 招聘
                  a(href='/node/share') 分享
                  a(href='/node/translate') 翻译
                  a(href='/node/question') 问与答
              li
                label(for='') 编辑器
                span.nodes
                  a(href='/node/sublime') Sublime
                  a(href='/node/vim') VIM
                  a(href='/node/webstorm') WebStorm
                  a(href='/node/notepad') Notepad++
              li
                label(for='') DSL
                span.nodes
                  a(href='/node/coffeescript') CoffeeScript
                  a(href='/node/sass') Sass
                  a(href='/node/less') Less
                  a(href='/node/jade') Jade
                  a(href='/node/haml') Haml
              li
                label(for='') 工具
                span.nodes
                  a(href='/node/git') Git
                  a(href='/node/nginx') Nginx
                  a(href='/node/apache') Apache
              li
                label(for='') 框架
                span.nodes
                  a(href='/node/jquery') jQuery
                  a(href='/node/yui') YUI
                  a(href='/node/bootstrap') Bootstrap
                  a(href='/node/zepto') Zepto
                  a(href='/node/kissy') Kissy
                  a(href='/node/tornado') Tornado
              li
                label(for='') 规范
                span.nodes
                  a(href='/node/w3c') W3C
                  a(href='/node/ecma') ECMA Script
              li
                label(for='') 社区
                span.nodes
                  a(href='/node/feedback') 意见反馈
                  a(href='/node/placard') 公告
                  a(href='/node/dev') 社区开发
                  a(href='/node/help') 帮助
        .span3.right
          .usercard.container-box
            .ui-header
              a(href='/u/lidashuang')
                img.avatar(src='http://f2e.im/static/avatar/m_85c7d235-ae94-5c4f-8d56-c04b7f0d877b.png?t=0.921182923152', alt='')
              .username lidashuang
              .website
                a(href='')
            .ui-content
              .status.status-topic
                strong
                  a(href='/u/lidashuang/topics') 0
                | 主题
              .status.status-reply
                strong
                  a(href='/u/lidashuang/replies') 1
                | 回复
              .status.status-favorite
                strong
                  a(href='/u/lidashuang/favorites') 1
                | 收藏
              .status.status-reputation
                strong 0
                | 威望
          .sidebox.container-box.mt10.hot-nodes
            .ui-header
              span.title 最热节点
            .ui-content
              a(href='/node/share') 分享
              a(href='/node/help') 帮助
              a(href='/node/sublime') Sublime
              a(href='/node/translate') 翻译
              a(href='/node/feedback') 意见反馈
              a(href='/node/coffeescript') CoffeeScript
              a(href='/node/javascript') JavaScript
              a(href='/node/pyhton') Python
              a(href='/node/yui') YUI
              a(href='/node/webstorm') WebStorm
              a(href='/node/opensource') 开源项目
              a(href='/node/algorithm') 算法
              a(href='/node/html') HTML
              a(href='/node/dev') 社区开发
              a(href='/node/question') 问与答
              a(href='/node/vim') VIM
          .sidebox.container-box.mt10.friends
            .ui-header
              span.title 友情社区
            .ui-content
              p
                a(href='http://python-china.org')
                  img(src='http://f2e.im/static/images/python_china_logo.jpg', alt='')
              p
                a(href='http://ruby-china.org')
                  img(src='http://f2e.im/static/images/ruby_china_logo.png', alt='')
              p
                a(href='http://trans4fun.org')
                  img(src='http://f2e.im/static/images/trans4fun.png', alt='')
          .sidebox.container-box.mt10.community-status
            .ui-header
              span.title 运行状态
            .ui-content
              dl
                dt 注册成员
                dd 718
              dl
                dt 节点
                dd 41
              dl
                dt 主题
                dd 171
              dl
                dt 回复
                dd 718
