doctype 5
html
  head
    block vars
    
    if title 
      title= title + " | " + locals.site_name
    else
      title= locals.site_name

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    include share/navbar

    block content

    .footer.mt15
      .container
        .footer-bg
          p.links
            span ©2012-2013 F2E.im
            span Powered by Tornado on Linode
            span , All rights reserved.
          p.fade-color
            span Bitcoin Donation: 1MqzGbsAufs3gCFEqqTM9WBNnRmVFu7HWH
