extends ../layout

block content
    .container-fluid.container.mt15
      .row-fluid
        .span9.left
          .topics.container-box.node-topics
            .ui-header
              a.btn.btn-small.fr(type='button', href='/t/create/javascript') 创建新主题
              span.bread-nav F2E › JavaScript
            .ui-content
              .topic-item
                a(href='/u/lidashuang')
                  img.avatar(src='/static/avatar/m_85c7d235-ae94-5c4f-8d56-c04b7f0d877b.png', alt='')
                .main
                  h3.title
                    a(href='/t/175#reply3') LiveScript
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/lidashuang') lidashuang
                    | •
                    span.last-touched 43 分钟前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/ichord')
                        strong ichord
                .count
                  a(href='/t/175#reply3') 3
              .topic-item
                a(href='/u/huacnlee')
                  img.avatar(src='/static/avatar/m_db1ddb8f-c5e6-57f7-b0ad-e852a4de8285.png', alt='')
                .main
                  h3.title
                    a(href='/t/164#reply4') jquery.qeditor - 简化的所见即所得编辑器
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/huacnlee') huacnlee
                    | •
                    span.last-touched 1 周前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/cam')
                        strong cam
                .count
                  a(href='/t/164#reply4') 4
              .topic-item
                a(href='/u/Yunkou')
                  img.avatar(src='/static/avatar/m_3c0ad2e5-bad6-54ba-94a8-4f77e3ce1ee7.png', alt='')
                .main
                  h3.title
                    a(href='/t/163#reply0') 深入理解JavaScript系列
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/Yunkou') Yunkou
                    | •
                    span.last-touched 1 周前
              .topic-item
                a(href='/u/coolzilj')
                  img.avatar(src='/static/avatar/m_7110587b-e023-511f-81a8-648b5ac25565.png', alt='')
                .main
                  h3.title
                    a(href='/t/155#reply4') AngularJS 与 Rails 结合的一些资料
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/coolzilj') coolzilj
                    | •
                    span.last-touched 1 周前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/coolzilj')
                        strong coolzilj
                .count
                  a(href='/t/155#reply4') 4
              .topic-item
                a(href='/u/cam')
                  img.avatar(src='/static/avatar/m_0c3eabe9-04a7-5f84-a9d8-87654a519683.png', alt='')
                .main
                  h3.title
                    a(href='/t/126#reply4') 我订阅的一些前端邮件Weekly
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/cam') cam
                    | •
                    span.last-touched 1 周前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/Glow')
                        strong Glow
                .count
                  a(href='/t/126#reply4') 4
              .topic-item
                a(href='/u/island205')
                  img.avatar(src='/static/avatar/m_702a8439-d0bc-5ca9-9bc0-08cc09d8fd01.png', alt='')
                .main
                  h3.title
                    a(href='/t/130#reply12') 正在写《Hello Sea.js》，Sea.js使用手册，深入研究Sea.js模块化机制……
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/island205') island205
                    | •
                    span.last-touched 2 周前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/island205')
                        strong island205
                .count
                  a(href='/t/130#reply12') 12
              .topic-item
                a(href='/u/surgit')
                  img.avatar(src='/static/avatar/m_db173cb0-5f1e-59ff-984b-4b8c5a065bff.png', alt='')
                .main
                  h3.title
                    a(href='/t/117#reply0') 问个火狐的兼容问题。
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/surgit') surgit
                    | •
                    span.last-touched 3 周前
              .topic-item
                a(href='/u/kenneth')
                  img.avatar(src='/static/avatar/m_ee571705-f927-5e65-877a-8aba508a6ac9.png', alt='')
                .main
                  h3.title
                    a(href='/t/93#reply1') 这页用到了那些特效？如何写？
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/kenneth') kenneth
                    | •
                    span.last-touched 2 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/ouyangtao404')
                        strong ouyangtao404
                .count
                  a(href='/t/93#reply1') 1
              .topic-item
                a(href='/u/friskfly')
                  img.avatar(src='/static/avatar/m_73702180-6d2d-5a7f-9983-6ec8607fa214.png', alt='')
                .main
                  h3.title
                    a(href='/t/94#reply2') 有没有试过在监听Iframe里的DOM事件的
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/friskfly') friskfly
                    | •
                    span.last-touched 2 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/feiwen8772')
                        strong feiwen8772
                .count
                  a(href='/t/94#reply2') 2
              .topic-item
                a(href='/u/kidliaa')
                  img.avatar(src='/static/avatar/m_d9bf4821-ec3d-5359-962f-d5ff4b0c48cb.png', alt='')
                .main
                  h3.title
                    a(href='/t/92#reply2') 为什么用jquery的 .click(),模拟鼠标点击方法,无法实现预定操作
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/kidliaa') kidliaa
                    | •
                    span.last-touched 2 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/kidliaa')
                        strong kidliaa
                .count
                  a(href='/t/92#reply2') 2
              .topic-item
                a(href='/u/blazeloulan')
                  img.avatar(src='/static/avatar/m_71e6b435-9e1c-5d52-986b-8dc7d015d407.png', alt='')
                .main
                  h3.title
                    a(href='/t/58#reply2') onload在ie里不灵的bug（原创）
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/blazeloulan') blazeloulan
                    | •
                    span.last-touched 3 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/guokai')
                        strong guokai
                .count
                  a(href='/t/58#reply2') 2
              .topic-item
                a(href='/u/blazeloulan')
                  img.avatar(src='/static/avatar/m_71e6b435-9e1c-5d52-986b-8dc7d015d407.png', alt='')
                .main
                  h3.title
                    a(href='/t/59#reply5') 用javascript操作iframe里的DOM(本人原创)
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/blazeloulan') blazeloulan
                    | •
                    span.last-touched 5 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/guokai')
                        strong guokai
                .count
                  a(href='/t/59#reply5') 5
              .topic-item
                a(href='/u/Glow')
                  img.avatar(src='/static/avatar/m_a1b9b633-da11-58be-b1a9-5cfa2848f186.png', alt='')
                .main
                  h3.title
                    a(href='/t/6#reply10') JS节点首发：推荐一篇文章——前端开发工程师如何在2013年里提升自己
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/Glow') Glow
                    | •
                    span.last-touched 5 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/tengfeiqi')
                        strong tengfeiqi
                .count
                  a(href='/t/6#reply10') 10
              .topic-item
                a(href='/u/island205')
                  img.avatar(src='/static/avatar/m_702a8439-d0bc-5ca9-9bc0-08cc09d8fd01.png', alt='')
                .main
                  h3.title
                    a(href='/t/46#reply2') 发一个小包包Basestone
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/island205') island205
                    | •
                    span.last-touched 6 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/island205')
                        strong island205
                .count
                  a(href='/t/46#reply2') 2
              .topic-item
                a(href='/u/laray')
                  img.avatar(src='/static/avatar/m_73812557-6dcb-51ca-87a0-35b1f08308af.png', alt='')
                .main
                  h3.title
                    a(href='/t/48#reply2') 万能的position
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/laray') laray
                    | •
                    span.last-touched 6 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/myljs')
                        strong myljs
                .count
                  a(href='/t/48#reply2') 2
              .topic-item
                a(href='/u/guokai')
                  img.avatar(src='/static/avatar/m_b04965e6-a9bb-591f-8f8a-1adcb2c8dc39.png', alt='')
                .main
                  h3.title
                    a(href='/t/42#reply1') 网络运营商注入到页面上的广告代码 r.js
                  .meta
                    span.node
                      a(href='/node/javascript') JavaScript
                    | •
                    span.username
                      a(href='/u/guokai') guokai
                    | •
                    span.last-touched 7 月前
                    | •
                    span.last-reply-username
                      | 最后回复来自
                      a(href='/u/ihuguowei')
                        strong ihuguowei
                .count
                  a(href='/t/42#reply1') 1
            .ui-footer
        .span3.right
          .usercard.container-box
            .ui-header
              a(href='/u/lidashuang')
                img.avatar(src='/static/avatar/m_85c7d235-ae94-5c4f-8d56-c04b7f0d877b.png?t=0.912187818332', alt='')
              .username lidashuang
              .website
                a(href='')
            .ui-content
              .status.status-topic
                strong
                  a(href='/u/lidashuang/topics') 1
                | 主题
              .status.status-reply
                strong
                  a(href='/u/lidashuang/replies') 2
                | 回复
              .status.status-favorite
                strong
                  a(href='/u/lidashuang/favorites') 2
                | 收藏
              .status.status-reputation
                strong 6
                | 威望

