extends ../layout

block content
    .container-fluid.container.mt15
      .row-fluid
        .span9.left
          .topics.container-box.node-topics
            .ui-header
              a.btn.btn-small.fr(type='button', href='/nodes/#{node.key}/new') 创建新主题
              span.bread-nav F2E › #{node.name}
            .ui-content
              if topics.length != 0
                for topic in topics
                  include ../share/topic
              else 
                .pl10.pr10
                  .alert.mt20.no-topics
                    该结点下暂时还没有主题，发出你的讨论吧。
            .ui-footer
        .span3.right
          if current_user
            - var user = current_user
            include ../share/user_info
          else 
            include ../share/login_box
