.login-box.container-box
  .ui-content.tc
    a.btn.btn-small.mr10(type='button', href='/login') 登录
    a.btn.btn-small.mr10(type='button', href='/register') 注册
    a.btn.btn-small(type='button', href='/forgot') 找回密码