.navbar.navbar-inverse.navbar-fixed-top.top-navbar
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') F2E
      .divider-vertical
      a.notification-indicator.tooltipped.downwards(href='/notifications', title='暂时没有未读提醒')
        span.mail-status
      .divider-vertical
      .nav-collapse.collapse
        ul.nav
          li
            a(href='/topics') 社区
          li
            a(href='/members') 成员
      // /.nav-collapse
      form.navbar-search.pull-left.J_search
        input.search-query(type='text', placeholder='', x-webkit-speech='')
      .nav-collapse.collapse.pull-right
        ul.nav.account-menu
          if locals.current_user
            li
              a.avatar(href='/u/#{locals.current_user.username}')
                if locals.current_user.upload_avatar
                  img(src="#{locals.current_user.upload_avatar}", width='20', height='20')
                else
                  img(src="#{locals.avatar(locals.current_user.email_md5)}", width='20', height='20')
            li
              a(href='/u/#{locals.current_user.username}')= locals.current_user.username
            li
              a(href='/setting')
                span.octicon.octicon-tools
            li
              a(href='/logout')
                span.octicon.octicon-log-out 
          else
            li
              a(href='/login')
                span.octicon.octicon-log-in
            li
              a.btn.btn-small(href='/register') 注册
