.span3.right
  include ./user_info
  .sidebox.container-box.mt10.hot-nodes
    .ui-header
      span.title 最热节点
    .ui-content
      a(href='/node/share') 分享
      a(href='/node/help') 帮助
      a(href='/node/sublime') Sublime
      a(href='/node/translate') 翻译
      a(href='/node/feedback') 意见反馈
      a(href='/node/coffeescript') CoffeeScript
      a(href='/node/javascript') JavaScript
      a(href='/node/pyhton') Python
      a(href='/node/yui') YUI
      a(href='/node/webstorm') WebStorm
      a(href='/node/opensource') 开源项目
      a(href='/node/algorithm') 算法
      a(href='/node/html') HTML
      a(href='/node/dev') 社区开发
      a(href='/node/question') 问与答
      a(href='/node/vim') VIM          
  
  //- .sidebox.container-box.mt10.friends
  //-   .ui-header
  //-     span.title 友情社区
  //-   .ui-content
  //-     p
  //-       a(href='http://python-china.org')
  //-         img(src='http://f2e.im/static/images/python_china_logo.jpg', alt='')
  //-     p
  //-       a(href='http://ruby-china.org')
  //-         img(src='http://f2e.im/static/images/ruby_china_logo.png', alt='')
  //-     p
  //-       a(href='http://trans4fun.org')
  //-         img(src='http://f2e.im/static/images/trans4fun.png', alt='')
            
  .sidebox.container-box.mt10.community-status
    .ui-header
      span.title 运行状态
    .ui-content
      dl
        dt 注册成员
        dd 718
      dl
        dt 节点
        dd 41
      dl
        dt 主题
        dd 171
      dl
        dt 回复
        dd 718          
