.span3.right
  .sidenav.container-box
    ul
      li
        a(href='/setting') 用户中心
      li
        a(href='/setting/avatar') 设置头像
      li.current
        a(href='/setting/password') 设置密码
      li
        a(href='/') 返回首页
