.topic-item
  a(href='/u/guokai')
    img.avatar(src='http://f2e.im/static/avatar/m_b04965e6-a9bb-591f-8f8a-1adcb2c8dc39.png', alt='')
  .main
    h3.title
      a(href='/topics/#{topic.id}')= topic.title
    .meta
      span.node
        a(href='/node/share') 分享
      | •
      span.username
        a(href='/u/guokai') guokai
      | •
      span.last-touched 7 小时前
      if topic.last_replied_by
        | •
        span.last-reply-username
          | 最后回复来自
          a(href='/u/#{topic.last_replied_by}')
            strong= topic.last_replied_by
  .count
    a(href='/topics/#{topic.id}#reply#{topic.replies_count}')= topic.replies_count
