.usercard.container-box
  .ui-header
    a(href='/u/lidashuang')
      img.avatar(src='/static/avatar/m_85c7d235-ae94-5c4f-8d56-c04b7f0d877b.png?t=0.912187818332', alt='')
    .username lidashuang
    .website
      a(href='')
  .ui-content
    .status.status-topic
      strong
        a(href='/u/lidashuang/topics') 1
      | 主题
    .status.status-reply
      strong
        a(href='/u/lidashuang/replies') 2
      | 回复
    .status.status-favorite
      strong
        a(href='/u/lidashuang/favorites') 2
      | 收藏
    .status.status-reputation
      strong 6
      | 威望

