extends ../layout

block vars
  - var title = user.username + "的收藏列表"
block content
  .container-fluid.container.mt15
    .row-fluid
      .span9.left
        .topics.container-box.deprecated-mt10
          .ui-header
            span.bread-nav #{locals.site_name} > #{user.username} > 的收藏列表
          for topic in topics
            - var node = topic.node
            - var user = topic.user
            include ../share/topic
      .span3.right
        include ../share/user_info