extends layout

block content
  .container-fluid.container.mt15
      .row-fluid
        .span9.left
          .topics.container-box.deprecated-mt10
            each topic in topics
              - var user = topic.user
              - var node = topic.node
              include share/topic
            .pagination
              include share/paginate
          include share/node_cloud
        include share/sidebar
