doctype 5
html
  head
    block vars

    if title 
      title= title + " | " + locals.site_name
    else
      title= locals.site_name

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    block scripts

  body
    include share/navbar

    block content

    .footer.mt15
      .container
        .footer-bg
          p.links
            span= locals.copyleft
            span  Powered by Node.js and sdutlinux group
            span , All rights reserved.
          p.fade-color
            span thank you
